.modal-header {
    display: flex;
    /* justify-content: space-around; */
    background-color: #F1F1F1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.modal-header h5 {
    font-family: 'Ubuntu', sans-serif;
}

.btnFechar {
    background-color: #606060;
    color: white;
    border-radius: 20px;
}

.btnFechar:hover {
    background-color: transparent;
    color: #606060;
    border-color: #606060;
    transition: ease-in-out 0.3s;
}

.btnDeletar {
    background-color: #812020;
    color: white;
    border-radius: 20px;
}

.btnDeletar:hover {
    background-color: transparent;
    color: #ff0000;
    border-color: #ff0000;
    transition: ease-in-out 0.3s;
}

.bi-x-circle{
    cursor: pointer;
}